/* hide book title and tools in the sidebar

.sidebar-title > a {
  display: none;
}
*/

/* hide just the book title in the sidebar
*/

.sidebar-title > a {
  display: none;
}

/* display a border on the left sidebar */
#quarto-sidebar {
    border-right: 1px solid #cccccc;
}

/* display a top border on the footer
.footer {
    border-top: 2px solid #cccccc;
}

*/


/* hide book header with redundant book title

  ... oh but this hides all page titles too hmm

#title-block-header {
  display:none;
}

*/


/*
DARK THEME
background-color: #eeee;


body.quarto-dark{
  background-color: #033C5A !important;
}

body.quarto-dark div.quarto-content {
  background-color: #033C5A !important;
}

body.quarto-dark a.sidebar-link.active,
body.quarto-dark a.nav-link.active {
  color: #AA9868 !important;
}

*/


/*
RESPONSIVE IFRAME
https://www.w3schools.com/howto/howto_css_responsive_iframes.asp
*/

.my-responsive-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.my-responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
